* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #5E5E5E;
    background: url(./img/grilledfish.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
}

h1 {
    font-family: 'Monoton', cursive;
    display: flex;
    justify-content: center;
    font-size: 3em;
    text-align: center;
}

p {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 10px;
}

.title {
    background: rgba(94, 94, 94, 0.5);
    width: 100%;
    margin: 0 auto;
}

.memory-game {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* perspective: 1000px; */
}

.memory-card {
    width: 130px;
    height: 100px;
    margin: 5px 3px;
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    background: white;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 0.8em;
    }
    body {
        background-size: auto 100%;
    }
    .memory-game {
        width: 500px;
        height: auto;
    }
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100px;
    position: absolute;
    /* border-radius: 5px; */
    background: white;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.note {
    background: rgba(94, 94, 94, 0.5);
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
}
a {
    color: white;
}
@media screen and (max-width: 430px) {
    h1 {
        font-size: 2.5em;
        padding: 10px;
    }
    p {
        font-size: 0.8em;
    }
    .front-face, .back-face {
        width: 80px;
        height: 50px;
    }
    .memory-card {
        width: 80px;
        height: 50px;
    }
    body {
        background-size: auto 100%;
    }
    .memory-game {
        width: 350px;
        height: auto;
    }
}